
{% extends "base.html" %}
{% load i18n static %}
{% load widget_tweaks %}

{% block title %} 
    SNOIE | {% translate "Détails de la fiche d'information" %}
{% endblock %}



{% block content %}

    <section class="content-header row">
        <div class="col-sm-12">
            <h1>Détails de la fiche d'information</h1>
            
        </div>

    </section>

    <style>
        .signature-pad {
            border: 1px solid gray; 
            left: 0;
            top: 0;
            width:400px;
            height:200px;
            background-color: white;
        }
        

    </style>
     
     <hr>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">

                    {% if mode == "edit" %}
                        <span class="">
                            <input type="button" value="Terminer les Modifications" class="btn btn-primary view-mode">
                        </span>
                    {% endif %}


                    {% if fi.state == "send_to_resp"  and request.user.userprofile.role.name_code == 'responsable' %}
                        <span class="">
                            <input type="button" value="Signer et valider la fiche" class="btn btn-warning btn-sm fi-validate">
                        </span>
                    {% endif %}

                    {% if fi.state == "draft" and fi.observator == request.user.userprofile %}
                        <span class="">
                            <input type="button" value="Signer et envoyer au responsable" class="btn btn-warning btn-sm fi-validate">
                        </span>
                    {% endif %}

                    {% if fi.state == "validated_org"  and request.user.userprofile.role.name_code == 'coordonnator'  %}
                        <span class="">
                            <input type="button" value="Signer  la fiche" class="btn btn-warning btn-sm fi-validate">
                        </span>
                    {% endif %}
                    
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Options
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if fi.state == "draft" and fi.observator == request.user.userprofile %}
                                <a class="dropdown-item fi-validate" href="#">Signer et envoyer au responsable</a>
                            {% endif %}

                            {% if fi.state == "send_to_resp"  and  request.user.userprofile.role.name_code == 'responsable' %}
                                <a class="dropdown-item fi-validate" href="#">Signer et valider la fiche</a>
                            {% endif %}

                            {% if fi.state == "validated_org"  and request.user.userprofile.role.name_code == 'coordonnator' %}
                                <a class="dropdown-item fi-validate" href="#">Signer la fiche</a>
                            {% endif %}
                            
                            <a class="dropdown-item {% if fi.state == "draft" %} edit-mode {% else %} disabled {% endif %}" href="#">Modifier la fiche d'iformation</a>

                            <a class="dropdown-item {% if fi.state == "draft" %} delete {% else %} disabled {% endif %}" href="#">Supprimer</a>
                        </div>
                    </div>
                        <!--span class="">
                            <input type="button" value="Modifier la fiche d'iformation" class="btn btn-warning edit-mode">
                            <input type="button" value="Supprimer" class="btn btn-danger delete">
                        </span-->
                    
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title"> Fiche: {{fi.ref_fiche}} </h3>
                            {% if fi.state == 'draft' %}
                                <span class="float-right badge bg-secondary">
                                    Statut: Brouillon
                                </span>
                            {% elif fi.state == 'send_to_resp' %}
                                <span class="float-right badge bg-primary">
                                   Statut: Envoyée au responsable
                                </span>
                            {% elif fi.state == 'validated_org' %}
                                <span class="float-right badge bg-success">
                                   Statut: Validée par un responsable
                                </span>

                            {% elif fi.state == 'validated_coord' %}
                                <span class="float-right badge bg-success">
                                   Statut: Signée par la coordination
                                </span>
                            {% elif fi.state == 'archived' %}
                                <span class="float-right badge bg-danger">
                                   Statut: Archivée
                                </span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <form  id="msform" action="{% url 'view-update-fi' fi.id %}">{% csrf_token %}
                                <input name="step" id="step" class="step" value="{{step}}" hidden/>
                                <ul id="progressbar">
                                    <li class="active" id="account"></li>
                                    <li id="personal"></li>
                                    <li id="payment"></li>
                                    <li id="acc"></li>
                                    {% if mode == "edit" %}
                                        <li id="result"></li>
                                    {% endif %}
                                </ul>
                                    
                                <div id="etape1">
                                    
                                    <fieldset>
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <input id="id_fi" class="id_fi" name="id_fi" value="{{fi.id}}" hidden>
                                            <input type="text"  name="mode" id="mode" class="hidden" value="{{mode}}"/>
                                            <input id="region_id" class="region_id" name="region_id" value="{{fi.region.id}}" hidden>
                                            <input id="dep_id" class="dep_id" name="dep_id" value="{{fi.department.id}}" hidden>
                                            <input id="arr_id" class="arr_id" name="arr_id" value="{{fi.arrondissement.id}}" hidden>
                                            <input type="text"  name="date_const" id="date_const" class="hidden" value="{{fi.date_constat | date:'Y-m-d'}}"/>
                                            <input type="text"  name="date_recep" id="date_recep" class="hidden" value="{{fi.date_reception | date:'Y-m-d'}}"/>
                                            <input type="text"  name="state" id="state" class="hidden" value="{{fi.state}}"/>

                                            <label for="ref_fi">1. Reférence de la fiche d'information</label>
                                           
                                            <input type="text" name="ref_fi" id="" class="form-control" value="{{fi.ref_fiche}}" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <label for="date_constat">2. Date de constat de  l'infraction*</label>
                                            <input type="date" name="date_constat" id="date_constat" class="form-control" >
                                        </div>
                                        <span class="text-danger dateConsErr"></span>
                                        <span class="text-danger err"></span>

                                        <div class="form-group" >
                                            <label for="date_reception">3. Date de réception des alertes*</label>
                                            <input type="date" name="date_reception" id="date_reception" class="form-control" >
                                        </div>
                                        <span class="text-danger dateRecepErr"></span>
                                        <span class="text-danger errDateRecep_CurrentDate"></span>
                                        
                                        <div class="form-group">
                                            <label for="organisation">4. Nom de l'OSC qui receuille l'information</label>
                                            <input type="text" name="organisation" id="organisation" class="form-control" value="{{fi.organisation}}" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <label for="entite">5. Nom de la personne (facultatif) ou de l'entité qui signale l'infraction constatée</label>
                                            <input type="text" name="entite" id="entite" class="form-control" value="{{fi.entite}}">
                                        </div>
                                        <input type="button" value="Suivant" class="edit-next btn btn-success">
                                    </fieldset>
                                    
                                    <fieldset>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <p class="" style="font-weight: bold;">Lieu où se pose le problème. </p>
                                            <label for="village">6. Village</label>
                                            <input type="text" name="village_fi" id="village_fi" class="form-control" value="{{fi.village}}">
                                        </div>
                                        <span class="text-danger villageErr"></span>
                                        <div class="form-group">
                                            <label for="reg">7. Région*</label>
                                            <select name="region" id="region" class="form-control select2" style="width: 100%;">
                                                <option value="0"></option>
                                                {% for region in regions %}
                                                    <option value="{{region.id}}" {% if fi.region == region %} selected="selected" {% endif %}>{{region.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dep_fi">8. Département*</label>
                                            <select name="department" id="department" class="form-control select2" style="width: 100%;">
                                                <option value="0"></option>
                                                {% for dep in deps %}
                                                    <option value="{{dep.id}}" {% if fi.department == dep %} selected="selected" {% endif %}>{{dep.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <span class="text-danger depErr"></span>
                                        <div class="form-group">
                                            <label for="arr_fi">9. Arrondissement*</label>
                                            <select name="arrondissement" id="arrondissement" class="form-control select2" style="width: 100%;">
                                                <option value="0"></option>
                                                {% for arr in arrs %}
                                                    <option value="{{arr.id}}" {% if fi.arrondissement == arr %} selected="selected" {% endif %}>{{arr.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <span class="text-danger arrErr"></span>
                                        <div class="form-group">
                                            <label for="titre_ex">10. Titre de l'exploitation concernée(nom et numéro) ou domaine forestier concerné*</label>
                                            <input type="text" name="titre_exp" id="titre_exp" class="form-control" value="{{fi.title_exploitation}}">
                                        </div>
                                        
                                            <!--  Garder l'id de la FI pour faire des update dans le form-->
                                        

                                        <span class="text-danger titreErr"></span>
                                        <input type="button" name="previous" class="edit-previous action-button-previous" value="Précédent">
                                        <input type="button" value="Suivant" class="edit-next btn btn-success">
                                    </fieldset>
                                    <fieldset>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="nom_ex">11. Nom de l'exploitant(e) et/ou de la société impliquée (le cas échéant)</label>
                                            <input type="text" name="nom_exp" id="nom_exp" class="form-control" value="{{fi.exploitant_name}}" >
                                        </div>
                                        <span class="text-danger nomExpErr"></span>
                                        <div class="form-group">
                                            <label for="">12. Description des faits par l'informateur/informatrice (reporter seulement les dires de l'informateur/informatrice)*</label>
                                            <textarea name="desc_ex_fi" id="desc_ex_fi" cols="30" rows="10" class="form-control">{{fi.infraction_description}}</textarea>
                                        </div>
                                        <span class="text-danger descErr"></span>
                                        <div class="form-group">
                                            <label for="source">13. Soupçon de l'infraction de l'examinateur/examiniatrice*</label>
                                            <textarea name="soup_fi" id="soup_fi" cols="30" rows="10" class="form-control">{{fi.soupicious_infraction}}</textarea>
                                        </div>
                                        <span class="text-danger soupErr"></span>
                                        <div class="form-group">
                                            <label for="ref_text_leg">14. Reférence aux textes législatifs, réglementaires et normatifs en vigueur (écrire entièrement les dispositions des articles concernés) </label>
                                            <textarea name="ref_text_leg" id="ref_text_leg" cols="30" rows="10" class="form-control">{{fi.ref_legislation_text}}</textarea>
                                        </div>
                                    
                                        <!--  Garder l'ID de la FI pour faire des update dans le form-->
                                        
                                        <span class="text-danger refTextErr"></span>
                                        <input type="button" name="previous" class="edit-previous action-button-previous" value="Precedent"/>

                                        
                                        <input type="button" value="Suivant" class="edit-next btn btn-success">
                                        
                                        
                                        
                                    </fieldset>


                                    {% if mode == "view" %}


                                        <fieldset class="table-responsive">
                                            
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th colspan="2"><strong>Renseignement OSC Locale</strong></th>
                                                    <th colspan="2"><strong>Validation par la Coordination</strong></th>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Noms & Prénoms </td>
                                                    <td><span id="nom_user">{{fi.observator.fullName}} </span></td>
                                                    <td class="column-title">Nom & Prénoms</td>
                                                    <td >
                                                        {% if fi.coordinator %}
                                                            <span id="nom_coo">{{fi.coordinator.fullName}}</span>
                                                        {% else %}
                                                            <span class="badge bg-warning">Pas encore disponible</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Profil</td>
                                                    <td id="profil_obs">Observateur</td>
                                                    <td class="column-title">Profil</td>
                                                    <td id="profil_coo"> Coordination</td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Date de signature par l'observateur</td>
                                                    <td ><span id="date_sign_obs"> {% if fi.date_sign_obs %} {{fi.date_sign_obs | date:'d/m/Y'}} {% endif %}</span></td>
                                                    <td class="column-title">Date de signature par la coordination</td>
                                                    <td ><span id="date_sign_coo">{% if fi.date_sign_coord %} {{fi.date_sign_coord | date:'d/m/Y'}} {% endif %}</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title"> Visa </td>

                                                    <td>
                                                        
                                                        <img src="{{fi.sign_obs}}" alt="" id="sign_obs"> 
                                                    
                                                    </td>
                                                    <td class="column-title">Visa</td>
                                                    <td >
                                                        
                                                        <img src="{{fi.sign_coord}}" alt="" id="sign_coo"> 
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Nom & Prénoms (Responsable OSC)</td>
                                                    <td id="nom_resp">
                                                        {% if fi.responsable %}
                                                            <span id="nom_resp">{{fi.responsable.fullName}}</span>
                                                        {% else %}
                                                            <span class="badge bg-warning"> Pas encore disponinle </span>
                                                        {% endif %}
                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Profil</td>
                                                    <td id="profil_resp">Responsable</td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Date</td>
                                                    <td ><span id="date_sign_resp">{% if fi.date_sign_resp %} {{fi.date_sign_resp | date:'d/m/Y' }} {% endif %}</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="column-title">Visa</td>
                                                    <td>
                                                        
                                                        <img src="{{fi.sign_resp}}" alt="" id="sign_resp">
                                                        
                                                    </td>
                                                </tr>
                    

                                            </table>

                                            <a href="{% url 'fiche-info-registry' 1 %}" class="view-end btn btn-success"> Terminer </a>
                                        </fieldset>



                                    {% endif %}

                                    
                                    
                                    {% if fi.state == "draft" and mode == "edit" %}
                                        <fieldset>
                                            {% csrf_token %}
                                            <div class="">
                                                    
                                                <label class="col-md-12">Signez la fiche pour validation <br></label>

                                                <div class="alert alert-warning" style="font-style: italic;"><i class="fas fa-exclamation-triangle"></i> Attention : En signant cette fiche, elle sera directement transmise au responsable de l'OSC et vous ne pourrez plus la modifier !!!  </div>

                                                {% if fi.state == "send_to_resp" %}
                                                    <img id="sign-image" class="col-md-12 signature-pad" src="{{fi.sign_obs}}" />
                                                {% else %}

                                                    <div id="signature" class="col-md-12 signature-pad"></div>
                                                    <textarea id="signed" name="signed" style="display: none"></textarea>

                                                {% endif %}
                                                
                                                
                                            </div>
                                            {% if mode != 'view' %}
                                                <button id="clear" class="btn btn-danger">Effacer</button>
                                            {% endif %}

                                            <input type="button" name="previous" class="edit-previous action-button-previous" value="Precedent"/>
                                            {% if mode == "view" %}
                                                <a href="{% url 'fiche-info-registry' 1 %}" class="view-end btn btn-success"> Terminer </a>
                                            {% else  %}
                                                <input type="submit" id="sign-btn" class="edit-valid essai btn btn-success " data-action="save-png" value="Envoyer la fiche d'information au responsable"/>
                                            {% endif %}
                                            

                                        </fieldset>
                                    
                                    
                                        <fieldset>
                                            <div class="form-group">
                                                <h2 class="fs-title text-center">Succès !</h2>
                                                <br>
                                                <div class="row justify-content-center">
                                                    <div class="col-3">
                                                        <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                                    </div>
                                                </div>
                                                <br><br>
                                                <div class="row justify-content-center">
                                                    <div class="col-7 text-center">
                                                        <h5>La fiche d'infomation a été envoyé au responsable de votre organisation. </h5><br><br>
                                                    </div>

                                                    
                                                    <a href="{% url 'fiche-info-registry' 1 %}" class="view-end btn btn-success"> Terminer </a>
                                                        
                                                </div>
                                            </div>
                                        </fieldset>

                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="sign-validate-modal" tabindex="-1" role="dialog" aria-labelledby="sign-validate-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-body">
                <div class="">
                                                
                    <label class="col-md-12">Signer la fiche pour validation <br></label>

                    {% if request.user.userprofil.role.name_code == "observateur" %}
                        <div class="alert alert-warning" style="font-style: italic;"><i class="fas fa-exclamation-triangle"></i> Attention : En signant cette fiche, elle sera directement transmise au responsable de l'OSC et vous ne pourrez plus la modifier !!!  </div>
                    
                    {% endif %}

                        <div id="valid-signature" class="col-md-12 signature-pad"></div>
                        <textarea id="valid-signed" name="valid-signed" style="display: none"></textarea>

                </div>
                <button id="valid-clear" class="btn btn-danger">Effacer</button>
            </div>
    
            <div class="modal-footer">
                <input type="button" value="Annuler" class="btn btn-white cancel" >
                <input type="button" value="Valider" class="btn btn-success valid-button" valid-endpoint="{% url 'sign-validate-fi' %}">
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-body">
                <h4>Voulez vous vraiment supprimer cet élément ?</h4>
                <span class="error"><h5>Cet action est irreversible</h5></span>
            </div>
    
            <div class="modal-footer">
                <input type="button" value="Annuler" class="btn btn-white cancel" >
                <input type="button" value="Supprimer" class="btn btn-danger delete-button" del-endpoint="{% url 'delete-fi' %}" redirect-endpoint="{% url 'fiche-info-registry' 1 %}">
            </div>
          </div>
        </div>
    </div>


    {% block js %}
        <script src="{% static 'js/shared.js' %}"></script>
    {% endblock %}


    <script>
        let date_constat = document.getElementById("date_const").value
        let date_recep = document.getElementById("date_recep").value

        document.getElementById("date_constat").defaultValue = date_constat;
        document.getElementById("date_reception").defaultValue = date_recep;

        $(document).ready(function(){
            
            let mode = $("input[name='mode']").val()
            let state = $("#state").val()
            
            if (mode == 'view'){
                $('.form-control').attr('disabled' , "")
                
            }

            if (state == 'send_to_resp'){
                $("#sign-image").css("pointer-events", "none").css("opacity",0.5)
            }

            $('.edit-mode').on('click' , function(){
                window.location = $("#msform").attr('action') +'?mode=edit'
    
            })
            $('.view-mode').on('click' , function(){
                window.location = $("#msform").attr('action')
    
            })

            var current_fs, next_fs;

            var options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-full-width",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            

            //clique sur le bouton enregistrer
            $('.edit-next').on('click', function (e) {
                e.preventDefault();
                let mode = $("input[name='mode']").val()

                if (mode == 'view'){
                    current_fs = $(this).parent();
                    next_fs = current_fs.next();
                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                                
                    next_fs.show(); 
                    current_fs.animate({opacity: 0}, {
                        step: function(now) {
                            // for making fielset appear animation
                            opacity = 1 - now;

                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });
                            next_fs.css({'opacity': opacity});
                        }, 
                        duration: 600
                    });
                }
                else{
                    current_fs = $(this).parent();
                    next_fs = current_fs.next();
                    var donnee = current_fs.serializeArray()
                    var step = $("#step").val()
                    donnee.push({name: "step", value : step})

                    
                    if (step == "1"){
                        $.ajax({
                            type: "POST",
                            url: window.location.href,
                            data: donnee,
                            dataType: "JSON",
                            success: function (response) { 
                                $("#step").val(response["next-step"]) 
                                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                                
                                next_fs.show(); 
                                current_fs.animate({opacity: 0}, {
                                    step: function(now) {
                                        // for making fielset appear animation
                                        opacity = 1 - now;
            
                                        current_fs.css({
                                            'display': 'none',
                                            'position': 'relative'
                                        });
                                        next_fs.css({'opacity': opacity});
                                    }, 
                                    duration: 600
                                });
                            },
                            error: function(error){
                                console.log(error)
                                toastr.options = options
                                toastr["error"](error, "SNOIE ERROR")
                                
                            }
                        });
                    }
                    else if (step == "2"){
                        $.ajax({
                            type: "POST",
                            url: window.location.href,
                            data: donnee,
                            dataType: "JSON",
                            success: function (response) { 
                                $("#step").val(response["next-step"]) 
                                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                                
                                next_fs.show(); 
                                current_fs.animate({opacity: 0}, {
                                    step: function(now) {
                                        // for making fielset appear animation
                                        opacity = 1 - now;
            
                                        current_fs.css({
                                            'display': 'none',
                                            'position': 'relative'
                                        });
                                        next_fs.css({'opacity': opacity});
                                    }, 
                                    duration: 600
                                });
                            },
                            error: function(error){
                                console.log(error)
                                toastr.options = options
                                toastr["error"](error, "SNOIE ERROR")
                                
                            }
                        });
                    }
                    else if(step == "3"){
                        $.ajax({
                            type: "POST",
                            url: window.location.href,
                            data: donnee,
                            dataType: "JSON",
                            success: function (response) { 
                                $("#step").val(response["next-step"]) 
                                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                                
                                next_fs.show(); 
                                current_fs.animate({opacity: 0}, {
                                    step: function(now) {
                                        // for making fielset appear animation
                                        opacity = 1 - now;
            
                                        current_fs.css({
                                            'display': 'none',
                                            'position': 'relative'
                                        });
                                        next_fs.css({'opacity': opacity});
                                    }, 
                                    duration: 600
                                });
                            },
                            error: function(error){
                                console.log(error)
                                toastr.options = options
                                toastr["error"](error, "SNOIE ERROR")
                                
                            }
                        });
                    }

                }
            });

            //clique sur le bouton précedent 
            $(".edit-previous").click(function (e) { 
                e.preventDefault();
                current_fs = $(this).parent();
                previous_fs = current_fs.prev();

                var current_step = Number($("#step").val())
                $("#step").val(current_step-1)
                previous_fs.show();
                current_fs.hide();

                current_fs.animate({opacity: 0}, {
                    step: function(now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({'opacity': opacity});
                    }, 
                    duration: 600
                });
                
            });


            $('.edit-valid').click(function(e){
                e.preventDefault();
                var sign = $('#signed').val() ;
                var step = $("#step").val();

                current_fs = $(this).parent();
                next_fs = current_fs.next();

                var donnee = [{name:"signed" , value:sign}]
                donnee.push({name : 'csrfmiddlewaretoken', value : $("input[name='csrfmiddlewaretoken']").val()})
                donnee.push({name: "step", value : step})

                $.ajax({
                    type: "POST",
                    url: window.location.href,
                    data: donnee,
                    dataType: "JSON",
                    success: function (response) { 
                        window.location = $("#msform").attr("action")

                        console.log(response)
                    },
                    error: function(error){
                        console.log(error)
                        toastr.options = options
                        toastr["error"](error, "SNOIE ERROR")
                        
                    }
                });
                
            })


            /********************************
             *  Signature Debut              *
             *                              *
             *******************************/
                var signature = $('#signature').signature({
                    syncField: '#signed',
                    syncFormat: 'PNG'
                });
                $("#clear").click(function (e) { 
                    e.preventDefault();
                    signature.signature('clear')
                    $("#signed").val('');
                });
            /********************************
             *  Signature FIn               *
             *                              *
             *******************************/

        
            $('#region').select2({
                allowClear: true,
                placeholder: {
                    id: "0",
                    text:"Choisir dans la liste",
                },
            });

            $('#department').select2({
                allowClear: true,
                placeholder: {
                    id: "0",
                    text:"Choisir dans la liste",
                },
            })
            $('#arrondissement').select2({
                allowClear: true,
                placeholder: {
                    id: "0",
                    text:"Choisir dans la liste",
                    
                },
            })
        
            $('#region').on('select2:select', function (e) {
                var data = e.params.data;
                var region_id = data.id
                var departments = load_departments(region_id)
                
                $('#department').select2().empty().select2({
                    data:[{"id":0, "text":"Choisir dans la liste"}].concat(departments.map((obj)=>{return {"id":obj.id , "text":obj.name}}))
                }).trigger("change");

                $(".department").removeAttr("hidden")
            })



            

            $('#department').on('select2:select', function (e) {
                var data = e.params.data;
                var department_id = data.id
                var arrs = load_arrs(department_id)

                $('#arrondissement').select2().empty().select2({
                    data: [{"id":0, "text":"Choisir dans la liste"}].concat(arrs.map((obj)=>{return {"id":obj.id , "text":obj.name}}))
                }).trigger("change");

                $(".arrondissement").removeAttr("hidden")
            });


            $('#arrondissement').on('select2:select', function (e) {
                
                $(".village").removeAttr("hidden")
            });


            /********************************
             *  Signature valid Debut              *
             *                              *
             *******************************/
             var signature = $('#valid-signature').signature({
                    syncField: '#valid-signed',
                    syncFormat: 'PNG'
                    
                });
                $("#valid-clear").click(function (e) { 
                    e.preventDefault();
                    signature.signature('clear')
                    $("#valid-signed").val('');
                });
            /********************************
             *  Signature valid FIn               *
             *                              *
             *******************************/


            $(".fi-validate").on("click" , function(e){
                    e.preventDefault();

                    let id = $("#id_fi").val()
                    console.log(id)

                    $("#sign-validate-modal .valid-button").attr("fi-id"  , id)

                    $("#sign-validate-modal").modal('show')
            })

            $("#sign-validate-modal .valid-button").on("click" , function(e){
                e.preventDefault();

                data = [{name:"fi_id" , value: $("#id_fi").val()} , {name:"csrfmiddlewaretoken" , value:$("input[name='csrfmiddlewaretoken']").val()} , {name: "valid-signed" , value:$("#valid-signed").val()}]
                $.ajax({
                    type: "POST",
                    url: $(this).attr("valid-endpoint"),
                    data: data,
                    dataType: "JSON",
                    success: function (response) { 
                        window.location = $("#msform").attr('action')
                    },
                    error: function(error){
                        console.log(error)
                        
                    }
                });
                
            })

            $("#sign-validate-modal .cancel").on("click" , function(e){
                e.preventDefault();

                $("#sign-validate-modal").modal('hide')
                
            })
        
        });
    </script>

{% endblock%}