{% extends "./base.html" %}
{% load i18n static %}
{% load widget_tweaks %}

{% block title %} 
    SNOIE | {% translate "Enregistrement" %}
{% endblock %}


{% block content %}

<div class="container">

    <h1 class="mt-4 text-center font-weight-bolder welcome-message">Bienvenue !</h1>

   
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card  mt-4">
                <div class="card-body">
                    <img src="{% static 'images/snoie-logo.jpeg' %}"  alt="SNOIE-Logo" class="" style="height: 200px !important; float : left; padding-right: 20px">
                    <p style="text-align: justify"> 
                        Le Système Normalisé d’Observation Indépendante Externe (SNOIE) 
                        est un regroupement des organisations de la société civile qui mènent les activités 
                        d’observation indépendante externe suivant un ensemble d’exigences calquées sur la norme qualité 
                        ISO 9001 : 2015. Ces activités d’observation indépendante externe consistent à collecter et traiter des 
                        données factuelles sur les activités potentiellement illégales et à les transmettre aux autorités compétentes pour 
                        d’améliorer l’efficacité des opérations de contrôle et garantir la gestion transparente et durable des ressources du patrimoine national.
                    </p>
                </div>
            </div>
        </div>
            
        <div class="col-12 col-md-6">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <br>
                        <div class="alert alert-danger alert-dismissible {{ message.tags }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {%endif%}
                    {% if message.tags == "success" %}
                        <br>
                        <div class="alert alert-success alert-dismissible {{ message.tags }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {%endif%}
                    {% if message.tags == "warning" %}
                        <br>
                        <div class="alert alert-warning alert-dismissible {{ message.tags }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {%endif%}
                    {% if message.tags == "info" %}
                        <br>
                        <div class="alert alert-info alert-dismissible {{ message.tags }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {%endif%}
                {% endfor %}
                
            {% endif %}
            
        
            <div class="card mt-4">
                <div class="card-header text-center">
                    <h3><b>SNOIE Data Management Tools</b></h3>
                </div>

                <div class="card-body">
                    {% if request.session.country == "cmr" %}
                        <div class="login-image">
                            <img src="{% static 'images/cmr.png' %}" >
                        </div>
                    {% elif request.session.country == "congo" %}
                    
                        <div class="login-image">
                            <img src="{% static 'images/congo.png' %}">
                        </div>
                    {% elif request.session.country == "ci" %}
                    
                        <div class="login-image">
                            <img src="{% static 'images/ci.png' %}">
                        </div>
                    {% endif %}
                        
                    <p class="login-box-msg">Enregistrez-vous pour accéder à la plateforme</p>
                    
                    <form  method="post" novalidate action="{% url 'register-new-user' %}">
                        <input type="hidden" value="{% url 'login' %}" name="login-url"/>
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label> Nom(s) *</label>
                                <input type="text" class="form-control" placeholder="Noms" name="last-name"  required>
                                <span class="name error" style="display: none;"> Ce champ es obligatoire </span>
                            </div>

                            <div class="form-group mb-3">
                                <label> Prénom(s)</label>
                                <input type="text" class="form-control" placeholder="Prenoms" name="first-name"  required>
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label>Email*</label>
                                <input type="email" class="form-control" placeholder="toi@mail.com" name="email">
                                <span class="email error" style="display: none;"> Entrer une adresse email valide </span>
                                <span class="email-exist error" style="display: none;"> Cette adresse est deja en cours d'utilisation. </span>
                            </div>
        

                            <div class="form-group mb-3">
                                <label>Genre </label>
                            
                                    <input type="radio" class="" value="F" name="genre" > Femme
                                    <input type="radio" class="" value="H" name="genre" >  Homme
                                    <span class="genre error" style="display: none;"> Ce champ es obligatoire </span>
                            </div>
        
                            <div class="form-group mb-3">
                                <label>Telephone*</label>
                                <input type="text" class="form-control" placeholder="+2376XXXXXXXX" name="tel" id="phone" required>
                                <span class="tel error" style="display: none;"> Ce champ es obligatoire </span>
                            
                            </div>
                            <div class="form-group">
                                <label>Organisation*</label>
                                <select class="form-control select2" style="width: 100%;" name="org">
                                    <option value=0></option>
                                    {% for org in orgs %}
                                        <option value="{{org.id}}">{{org.name}} </option>
                                    {% endfor %}
                                    
                                </select>
                                <span class="org error" style="display: none;"> Ce champ es obligatoire </span>
                            </div>
                            <span class="text-danger"></span>
                            <div class="form-group mb-3">
                                <label>Mot de passe*</label>
                                <input type="password" class="form-control" placeholder="Mot de passe" name="password"  required>
                                <span class="password error" style="display: none;"> Les mots de passe doivent etre identiques et contenir aumoins 06 caracteres </span>
                            </div>
                            <span class="text-danger"></span>
                            <div class="form-group mb-3">
                                <label>Entrez le mot de passe </label>
                                <input type="password" class="form-control" placeholder="Confirmer votre mot de passe" name="password2" required>
                                <span class="password error" style="display: none;"> Les mots de passe doivent etre identiques et contenir aumoins 06 caracteres </span>
                            </div>


                        </fieldset>
                        
                
                        <span class="text-danger"></span>
                        <div class="form-group form-check mb-3">
                           En m'inscrvivant, j'accepte <a href="#" data-toggle="modal" data-target="#conditionsModal">les conditions d'utilisation de SNOIE Data Management Tools</a>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LefMmEjAAAAADKaopQypSvl9rLxOQS5HVPCWazq"></div>  </br>
                        
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success btn-block" id="btn-register">Inscription</button>
                            </div>
                        </div>
                    </form>
                    <p class="mb-0">
                        
                        <a href="{% url 'login' %}" class="text-center"> Vous avez déjà un compte ? Connectez-vous !</a>
                        
                    </p>
                    <p class="mb-1">
                        
                        <a href="#" class="text-center" id="change-country"> Changer de pays ?</a>
                    </p>

                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="countryChoiceModal" tabindex="-1" role="dialog" aria-labelledby="countryChoiceModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="countryChoiceModalTitle">Connectez vous au portail de votre pays</h4>
              
            </div>
            <div class="modal-body">
                <div class="country-container mb-5"  id="country-selector">
                    <div class="country" value="cmr">
                        <img src="{% static 'images/cmr.png' %}" style="width: 100%; padding-bottom : 10px">
                        <p>Cameroun</p>
                    </div>
                    <div class="country" value="congo">
                        <img src="{% static 'images/congo.png' %}" style="width: 100%; padding-bottom : 10px">
                        <p>République du Congo</p>
                    </div>
                    <div class="country" value="ci">
                        <img src="{% static 'images/ci.png' %}" style="width: 100%; padding-bottom : 10px">
                        <p>Côte d'Ivoire</p>
                    </div>
        
                </div>
            </div>
          </div>
        </div>
    </div>
        

</div>


{% endblock %}


{% block js %}

    <script>
        $("#btn-register").on("click" , function(e){
            e.preventDefault()
            validate_user()

            var current_fs = $("form fieldset")
            var donnee = current_fs.serializeArray()

            console.log(current_fs)

            $.ajax({
                type: "POST",
                url: $("form").attr("action"),
                data: donnee,
                dataType: "JSON",
                success: function (response) { 
                    window.location = $("input[name='login-url']").val()
                },
                error: function(error){
                    console.log(error)
                    
                    
                }
            });
        })

        $("input").on("focus" , function(){
            $('form span').hide()
            $("input[name='last-name']").removeClass('error')
            $('select[name="org"]').removeClass('error')
            $("select[name='genre']").removeClass('error')
            $("input[name='email']").removeClass('error')
            $("input[name='tel']").removeClass('error')
            $("input[name='password']").removeClass('error')
            $("input[name='password2']").removeClass('error')
        })

        function validate_user(){
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            let email = $('input[name="email"]').val()
            let password1 = $('input[name="password"]').val()
            let password2 = $('input[name="password2"]').val()
            let organisation = $('select[name="org"]').val()
            let LastName = $('input[name="last-name"]').val()
            let genre = $('input[name="genre"]:checked').val()
            let tel = $('input[name="tel"]').val()


            if(LastName.length < 2){
                $("input[name='last-name']").addClass('error')
                $(".name").show()
                return false
            }

            

            if (!emailRegex.test(email) ){
                $("input[name='email']").addClass('error')
                $(".email").show()
                return false
            }

            $.ajax({
                async: false,
                type: "GET",
                url: "/accounts/check-email?email=" + email,
                async: false,
                success: function (response) {
                    exist = response.exist
                    if(exist == true){
                        $("input[name='email']").addClass('error')
                        $(".email-exist").show()
                        return false
                    }
                    console.log(response)
                },
                error: function (error) {
                    console.log(error);
                }
            });

            if(genre== undefined){
                $("select[name='genre']").addClass('error')
                $(".genre").show()
                return false
            }


            if(tel.length < 2){
                $("input[name='tel']").addClass('error')
                $(".tel").show()
                return false
            }


            if(organisation == 0){
                $('select[name="org"]').addClass('error')
                $(".org").show()
                return false
            }

            
            
            


            if(password1 != password2 || password1.length < 6){
                $(".password").show()
                $("input[name='password']").addClass('error')
                $("input[name='password2']").addClass('error')
                return false
            }

            
            return true
        }
    </script>

    {% if request.session.country == null %}
        <script>
            $(document).ready(function () {
                
                $('#countryChoiceModal').modal({
                    show: true,
                    backdrop: 'static',
                    keyboard: false,
                    focus:true
                });

                
            });

        </script>
    {% endif %}

    

{% endblock %}