


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <form>

            <div class="modal-content">
        
                <div class="modal-body">
                    
                    <h4>Ajouter un commentaire</h4>
        
                    <fieldset>
                        <div class="form-group">
                           
                            <label for="commentaire">
                                Votre commentaires ici.
                            </label>
                            <textarea name="comment" id="comment" rows="7" class="form-control comment"></textarea>
                    
                        </div>
                      
                    </fieldset>
        
                </div>
        
                <div class="modal-footer">
                    <input type="button" value="Annuler" class="btn btn-white cancel" id="no-comment">
                    <input type="button" value="Valider" class="btn btn-success" id="get-comment">
                </div>
              </div>
        </form>
      
    </div>
</div>



