{% extends "base.html" %}
{% load i18n static %}
{% load widget_tweaks %}

{% block title %} 
    SNOIE | {% translate "Registre" %}
{% endblock %}


{% block content %}
<section class="content-header row">
    <div class="col-sm-6">
    <h1>Régistre des missions</h1>
    </div>
   
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-success mt-3">
                    <div class="card-header">
                        <h3 class="card-title">Régistre des missions</h3>
                    </div>
        
                    <div class="card-body">
                        <a href="" class="btn btn-primary mb-3"  id="create-mission">Créer une mission</a>
                        <div class="table-responsive">
                            
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td><strong>Nom de la mission</strong></td>
                                        <td><strong>Auteur</strong></td>
                                        <td><strong>Organisation</strong></td>
                                        <td><strong>Statut</strong></td>
                                        <td><strong>Détails</strong></td>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mission in missions  %}
                                        <tr>
            
                                            <td>{{mission.name}}</td>
                                            <td> {{mission.user.fullName}}</td>
                                            <td> {% if mission.organisation %} {{mission.organisation}} {%endif%}</td>
                
                                            <td>
                                                {% if mission.statut_mission == 'pending' %}
                                                        <span class="badge bg-secondary">
                                                            En attente
                                                        </span>
                                                    {% elif mission.statut_mission == 'running' %}
                                                        <span class=" badge bg-primary">
                                                            En cours
                                                        </span>
                                                    {% elif mission.statut_mission == 'ended' %}
                                                        <span class="badge bg-success">
                                                            Terminé
                                                        </span>

                                                    {% elif mission.statut_mission == 'canceled' %}
                                                        <span class="badge bg-danger">
                                                            Non réalisée
                                                        </span>
                                                    {% endif %}
                                            </td>
                
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="{% url 'detail-mission' mission.id %}" class="table-button view" alert-id="{{mission.id}}" info-url="" ><i class="fas fa-eye"></i></a>
                                                            </td>
                                                            <!--td>
                                                                <a href="#" class="table-button edit"  data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></a>
                                                            </td-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>     

                                    {% endfor %}
                                                    
                                </tbody>
                            </table>
                        </div>

                        {% block pagination %}

                            <div class="pagination">
                            
                            

                                {% for page_number in missions.paginator.page_range %}

                                    {% if page_number == missions.number %}

                                        <div class="pagination-button current">{{page_number}}</div>

                                    {% else %}

                                        <a

                                            href="{% url 'alerts-registry' page_number %}"

                                            class="pagination-button"

                                        >

                                            {{page_number}}

                                        </a>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>



<div class="modal fade" id="addMissionModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Créer une mission </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'create-mission' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group"> 
                        <label for="nom_mission">Nom de la mission</label>
                        <input type="text" name="nom_mission" id="nom_mission" value="" placeholder="022/RO-SNOIE/Organisation/052024" class="form-control">
                    </div>
                  
                    <div class="form-group" id="select-fp">
                        <label for="fp" id="fp-label">Sélectionnez une fiche de pertinence</label>
                        
                    </div>
                    
                    <div class="form-group">
                        <label>Sélectionner le premier draft de Termes De References : </label>
                        <div class="input-group">
                            <input type="file" name="draft_tdr" class="form-control">
                        </div>
                    </div>
                    
                   
                    <div class="form-group">
                        <input type="submit" value="Envoyer" class="form-control btn btn-success" style="margin-bottom: 10px">
                        <br>
                        <input type="button" value="Annuler" class="btn btn-warning form-control" data-dismiss="modal">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block js %}
    <script src="{% static 'js/missionManagement.js' %}"></script>
{% endblock %}